<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="form-group">
                  <input type="email" formControlName="email" class="form-control" placeholder="Email" required>
                  <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div class="container-error-message" *ngIf="email.errors.required">
                      The Email is required.
                    </div>
                    <div class="container-error-message" *ngIf="email.errors.minlength">
                      The email must be at least 5 characters.
                    </div>

                    <div class="container-error-message" *ngIf="email.errors.maxlength">
                      The email had a maximum of 50 characters.
                    </div>
                    <div class="container-error-message"
                    *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                    Value has to be a valid email address.
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="password" formControlName="password" class="form-control" placeholder="" required maxlength="10">
                <div class="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div class="container-error-message" *ngIf="password.errors.required">
                    The password is required
                  </div>
                  <div class="container-error-message" *ngIf="password.errors.minlength">
                    The password must be at least 5 characters.
                  </div>

                  <div class="container-error-message" *ngIf="password.errors.maxlength">
                    The password had a maximum of 10 characters.
                  </div>
                </div>
              </div>

              <div  *ngIf="loginForm.valid == true; else invalido">

                <button type="submit" class="btn btn-primary btn-lg btn-block" name="button" [disabled] = "!loginForm.valid">Login</button>

              </div>
              <ng-template #invalido>

                <button type="submit" class="btn btn-secondary btn-lg btn-block" name="button" [disabled] = "true">Login</button>
              </ng-template>

              <div class="form-group">
                <a routerLink="/user/register" class="form-control login-user">Are you new ?</a>
              </div>


              <div class="form-group">
                <button href="#" class="btn btn-block btn-social btn-facebook" (click) = "onLoginFacebook()">
                  <span class="fa fa-facebook"></span>
                  FACEBOOK
                </button>
                <button href="#" class="btn btn-block btn-social btn-google" (click) = "onLoginGoogle()">
                  <span class="fa fa-google"></span>
                  GOOGLE
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
